<%= form_for(@family) do |f| %>
  <% if @family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
      <% @family.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label "Number of #{:televisions}" %><br />
    <%= f.number_field :televisions %>
  </div>
  <div class="field">
    <%= f.label "#{:hours_spent_watching} per day" %><br />
    <%= f.number_field :hours_spent_watching %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
